---
import { getPostParams } from '../utils/postParams.ts';
import PostDate from './PostDate.astro';

const { posts } = Astro.props;
---

<table class="postList">
    {posts.map((post: any) => {
        const { year, month, day, path } = getPostParams(post);

        return (
        <tr>
            <td><PostDate year={year} month={month} day={day} /></td>
            <td><a href={`/posts/${path}/`}>{post.data.title}</a></td>
        </tr>
        )        
    })}
</table>
