---
import PrevNextPostNav from '../components/PrevNextPostNav.astro';
import TagList from '../components/TagList.astro';
import PostDate from '../components/PostDate.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

const pubDate = frontmatter.pubDate.toISOString().slice(0, 10);
const year = pubDate.slice(0, 4);
const month = pubDate.slice(5, 7);
const day = pubDate.slice(8, 10);
---
<BaseLayout>
  <style>
    #postDate {
      text-align: center;
      margin-bottom: 5px;
    }
    #postTitle {
      margin-top: 5px;
      margin-bottom: 40px;
    }
  </style>
  <p id="postDate"><PostDate year={year} month={month} day={day} /></p>
  <h2 id="postTitle">{frontmatter.title}</h2>
  <div class="postBody">
    <slot />
  </div>

  <br />
  <TagList tags={frontmatter.tags} />
  <PrevNextPostNav />

  <style>
    a {
      color: #00539F;
    }
  </style>
</BaseLayout>